@(computerForm: Form[Computer], companies: Seq[(String, String)])(implicit requestHeader: MessagesRequestHeader)

@import views.html.helper._

@main {
    
    <h1>Add a completed task</h1>
    
    @form(routes.HomeController.save) {
        
        <fieldset>
            @CSRF.formField
            @inputText(computerForm("name"), Symbol("_label") -> "Completed task name", Symbol("_help") -> "")
            @inputText(computerForm("introduced"), Symbol("_label") -> "Achived date", Symbol("_help") -> "")
            @inputText(computerForm("discontinued"), Symbol("_label") -> "Category", Symbol("_help") -> "")

            @select(
                computerForm("company"), 
                companies, 
                Symbol("_label") -> "Type", Symbol("_default") -> "-- Choose a company --",
                Symbol("_showConstraints") -> false
            )
            @inputText(computerForm("discontinued"), Symbol("_label") -> "Reflections", Symbol("_help") -> "")
        </fieldset>

        <p>Dates are in yyyy-MM-dd format</p>
        
        <div class="actions">
            <input type="submit" value="Create this completed task" class="btn primary"> or 
            <a href="@routes.HomeController.list()" class="btn">Cancel</a>
        </div>
        
    }
    
}
