@(id: Long, computerForm: Form[Computer], companies : Seq[(String, String)])(implicit requestHeader: MessagesRequestHeader)

@import views.html.helper._

@main {
    
    <h1>Edit completed task</h1>
    
    @form(routes.HomeController.update(id)) {
        
        <fieldset>
            @CSRF.formField
            @inputText(computerForm("name"), Symbol("_label") -> "Completed task name", Symbol("_help") -> "")
            @inputText(computerForm("introduced"), Symbol("_label") -> "Achived date", Symbol("_help") -> "")
            @inputText(computerForm("discontinued"), Symbol("_label") -> "Category", Symbol("_help") -> "")
            
            @select(
                computerForm("company"), 
                companies, 
                Symbol("_label") -> "Type", Symbol("_default") -> "-- Choose a company --",
                Symbol("_showConstraints") -> false
            )
            @inputText(computerForm("discontinued"), Symbol("_label") -> "Reflections", Symbol("_help") -> "")
        </fieldset>
        <p>Dates are in yyyy-MM-dd format</p>

        <div class="actions">
            <input type="submit" value="Save this completed task" class="btn primary"> or 
            <a href="@routes.HomeController.list()" class="btn">Cancel</a>
        </div>
        
    }
    
    @form(routes.HomeController.delete(id), Symbol("class") -> "topRight") {
        @CSRF.formField
        <input type="submit" value="Delete this completed task" class="btn danger">
    }
    
}
