@(id: Long, taskForm: Form[CompletedTask], categories : Seq[(String, String)], terms : Seq[(String, String)])(implicit requestHeader: MessagesRequestHeader)

@import views.html.helper._

@main {
    
    <h1>Edit completed task</h1>
    
    @form(routes.HomeController.update(id)) {
        
        <fieldset>
            @CSRF.formField
            @inputText(taskForm("name"), Symbol("_label") -> "Completed task name", Symbol("_help") -> "")
            @inputText(taskForm("achived"), Symbol("_label") -> "Achived date", Symbol("_help") -> "")
            
            @select(
                taskForm("category"), 
                categories, 
                Symbol("_label") -> "Category", Symbol("_default") -> "-- Choose a category --",
                Symbol("_showConstraints") -> false
            )

            @select(
                taskForm("term"), 
                terms, 
                Symbol("_label") -> "Term", Symbol("_default") -> "-- Choose a term --",
                Symbol("_showConstraints") -> false
            )

            @textarea(taskForm("reflections"), Symbol("_label") -> "Reflections", Symbol("_help") -> "", Symbol("_rows") -> 50)
           
        </fieldset>
        <p>Dates are in yyyy-MM-dd format</p>

        <div class="actions">
            <input type="submit" value="Save this completed task" class="btn primary"> or 
            <a href="@routes.HomeController.list()" class="btn">Cancel</a>
        </div>
        
    }
    
    @form(routes.HomeController.delete(id), Symbol("class") -> "topRight") {
        @CSRF.formField
        <input type="submit" value="Delete this completed task" class="btn danger">
    }
    
}
